<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lista de Productos</title>
</head>
<body>
<h1>Lista de Productos</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Stock</th>
  </tr>
  </thead>
  <tbody>
  <!-- Iteramos la lista "productos" -->
  <tr th:each="producto : ${productos}">
    <td th:text="${producto.id}"></td>
    <td th:text="${producto.name}"></td>
    <td th:text="${producto.description}"></td>
    <td th:text="${producto.price}"></td>
    <td th:text="${producto.stock}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
